:root {

    --primary: #64d993;
    --background: linear-gradient(0deg,rgba(177, 224, 162, 1) 0%, rgba(126, 164, 214, 1) 100%) no-repeat fixed;

    --radius: 8px;

}

body {
    font-family: system-ui, -apple-system, sans-serif;
    background: var(--background);
    margin: 0;
    padding: 40px;
}

h1 {
    margin-bottom: 25px;
    text-align: center;
}

.app {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.05),
        0 10px 25px rgba(0, 0, 0, 0.08);
}

#todo-form {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;

}

#todo-input {
    flex: 1;

    padding: 12px 14px;

    border: 1px solid #ddd;
    border-radius: 8px;

    font-size: 16px;
}

#todo-form button {
    content: "+";
    padding: .5rem 1rem;
    border: none;
    border-radius: 8px;
    background: var(--primary);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

#todo-form button:hover {
    background: var(--primary);
    transform: translateY(-1px);
}

#todo-form button:active {
    transform: translateY(0);
}

#todo-input:focus {
    outline: none;
    border-color: #4CAF50;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#todo-list {
    list-style: none;
    padding: 0;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
    border-bottom: 1px solid #eee;
}

#todo-list li:hover {
    background-color: #fafafa;
}

.todo-checkbox {
    margin-right: 10px;
    width: 20px;
    accent-color: var(--primary);
    border: 2px solid var(--primary);
    cursor: pointer;
    transition: transform 0.15s ease;
}

.todo-checkbox:hover {
    transform: scale(1.2);
}

li {
    transition: all 0.2s ease;
}

li:has(input:checked) {
    text-decoration: line-through;
    opacity: 0.6;
}


.delete-btn {
    width: 24px;
    height: 24px;

    background-image: url("../../assets/trashcan.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;

    border: none;
    cursor: pointer;
}

.delete-btn:hover {
    transform: scale(1.2);
    opacity: 1;
}

@media (max-width: 600px) {

    body {
        padding: 10px;
    }

    button {
        font-size: 14px;
    }

}
